body {
  font-family: Verdana;
  font-size: 1.5em;
}

#team-members {
  clear: both;
 
    & .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: 10px;
    padding: 6px;
    }

    & .member img {
    width: 200px;
    height: 200px;
    border: 1px black solid;
    border-radius: 50%;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc; 
    -moz-box-shadow: 3px 3px 5px 6px #ccc; 
    box-shadow: 3px 3px 5px 6px #ccc;
    }

    & .member img:hover{
    -webkit-filter: contrast(4);
    filter: contrast(4);
    transform: scale(1.4) rotate(360deg);
    transition-duration: .75s;
    -webkit-transform: scale(1.4) rotate(360deg);
    -webkit-transition-duration: .75s;
    -moz-transform: scale(1.4) rotate(360deg);
    -moz-transition-duration: .75s;
    }

    & .member div.name {
    text-align: center;  
    }
}

$primaryColor: #FF0000;
body {
  h1 {
    color: $primaryColor; 
  }
}

